.header {
    margin-top: 38px;
    &__container {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        &__list {
            display: flex;
        }

        &__link {
            color: #BFBFBF;
            
            &--current {
                color: black;
            }
        }

        &__item:not(:last-child) {
            margin-right: 40px;
        }
    }
}

.in, .tel{
    width: 20px;
    margin-right: 10px;
}