.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
    position: relative;

    &__info {
        position: absolute;
        bottom: 110px;
        right: 350px;
        line-height: 130%;
    }

    &__link {
        font-size: 30px;
        line-height: 120%;
        border-bottom: 2px solid black;
    }
}

.grid {
    margin-bottom: 60px;
    &__list {

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }

    &__item img, video {
        width: 252px;
        height: 544px;
        border-radius: 25px;
    }
}

.link {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}