.transport__container {
    width: 1110px;
}


.hero-transp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
    position: relative;
}

.hero-transp__info {
    line-height: 130%;
    position: absolute;
    bottom: 110px;
    right: 25px;
}

.text-transp {
    margin: 0 auto;
    text-align: center;
    width: 780px;
    margin-bottom: 80px;
}

.two-screens {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.text-col {
    display: flex;
    margin: 0 auto;
    margin-bottom: 80px;
}

.text-col p {
    margin-right: 68px;
}

.questions {
    margin-bottom: 80px;
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        max-width: 520px;
        margin-bottom: 48px;
        line-height: 150%;

        .bold {
            font-weight: 600;
        }
    }

    &__item:nth-child(odd) {
        margin-right: 63px;
    }
}

.with-slider {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.slider__container {
    display: flex;
    align-items: center;

    button {
        height: 53px;
        width: 53px;
        background-color: #E8E8E8;
        border-radius: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider-prev {
        margin-right: 36px;
    }

    .slider-prev::after {
        content: '';
        position: absolute;
        background-image: url('../images/arrow-prev.svg');
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .slider-next::after {
        content: '';
        position: absolute;
        background-image: url('../images/arrow-next.svg');
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.slider {
    width: 342px;
    overflow: hidden;
    margin-right: 36px;
}

.slider-line {
    width: 1026px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 0.5s;
}

.slider-text {
    width: 436px;
    padding-left: 100px;
}