.text-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}


.weather-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
    position: relative;
}

.weather-hero__info {
    position: absolute;
    right: 320px;
    bottom: 100px;
    line-height: 130%;
}